# OS files
.DS_Store
Thumbs.db

# Java/Maven Build
target/
*.class
*.jar
*.war
*.ear
.mvn/
.metadata/
.classpath
.project
.settings/
*.iml
*.ipr
*.iws
.idea/

# Node/Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.serve.json

# Python Virtual Environments
venv/
venv312/
py312/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Chrome user data
chrome_data/
chrome_debug/

# Log Files
*.log
.quotexpy.log

# ZIP files
*.zip
